.img{
    width: 15%;
    display: flex;
    /* float: left; */
    background-color: white;
    padding-top: 40px;
    padding-bottom: 40px;
}

.partnerlogo{
    height: 100px;
    width: 250px;
    padding-top: 70px;
    padding-bottom: 70px;
    padding: 10px;
    margin: 20px;
}