
.Shopify-header {
  background-color: black;
}

.Shopify-logo {
  height: 50px;
  width: 190px;
  background-color: black;
  margin-left: 80px;
  /* padding: 10px; */
}

li {
  display: inline-flex;
  margin-bottom: 2px;
  padding: 10px;
}
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  display: block;
}
.dropdown:hover .dropdown-content {
  display: block;
}

li.dropdown {
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}

.dropdown-content a:hover {
  background-color: #f1f1f1;
}

.dropbtn {
  color: #f1f1f1;
  text-decoration: none;
  padding: 10px;
}

.Navbar {
  color: yellow;
  padding: 5px;
  text-decoration: none;
}

@media screen and (max-width: 480px) {
  .Navbar {
    color: rgb(219, 16, 77);
    padding: 5px;
    text-decoration: none;
  }
}

